body {
  background: #b7b7b7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dado{
  width: 200px;
  height: 200px;
  border: 1px solid #000000;
  font-size: 55px;
  transition: all 1.5s;
  rotate: -6deg;
  user-select: none;
}

.on{
  rotate: 6deg;
  translate: 20px 0;
}